<div class = "row">
  <div class="col-xs-8 col-sm-7 col-md-8 col-sm-offset-1 col-md-offset-2"> </div>
</div>
<h2>Login</h2>
<form (ngSubmit)="onSignup(f)" #f="ngForm">
  <div class = "form-group">
    <label for="email">Mail</label>
    <input type="email" id="email" name="email" ngModel class="form-control">
  </div>
  <div class = "form-group">
    <label for="password">password</label>
    <input type="password" id="password" name="password" ngModel class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>
